img {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-position: center;
    object-fit: cover;
}

main {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

div:nth-child(2) {
    width: 70%;
}