:root {
    --main-color: #0a0a0a;
    --text-color-light: #f7f7f7;
    --bg-color: #444;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color-light);
}

header {
    background-color: var(--main-color);
}

nav a {
    color: var(--text-color-light);
}

#current-page {
    color: red;
}