:root {
    --main-color: #0a0a0a;
    --body-color: #0a0a0a;
    --text-color-light: #f7f7f7;
    --bg-color: #444;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: Dogica;
    src: url(../font/dogicapixel.ttf);
}
@font-face {
    font-family: DogicaBold;
    src: url(../font/dogicapixelbold.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color-light);
    background-image: url(../images/checkers.png);
    background-size: 10%;
    font-family: 'Lato', sans-serif;
}

/* Header and nav */

header {
    background-color: var(--main-color);
    padding: 0.1em 1em;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    padding: 0.5em;
    align-self: center;
    font-family: 'DogicaBold';
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    font-family: 'Dogica';
}

nav a {
    color: var(--text-color-light);
}

#header-title span {
    animation: blinking;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#current-page {
    color: red;
}

/* Animation for header */

@keyframes blinking {
    0% {color: var(--text-color-light);}
    49% {color: var(--text-color-light);}
    50% {color: rgba(0,0,0,0);}
    100% {color: rgba(0,0,0,0);}
}

/* Main */

main {
    background-color: var(--body-color);
    width: 90%;
    height: 80%;
    overflow: auto;
    padding: 2em;
    margin: 3em auto;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

/* Footer */

footer {
    background-color: var(--main-color);
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    padding: 0.2em;
    margin: 0;
    font-size: 0.75rem;
    text-align: end;
}