:root {
    --main-color: #0a0a0a;
    --text-color-light: #f7f7f7;
    --bg-color: #444;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color-light);
    background-image: url(../images/checkers.png);
    background-size: 10%;
}

/* Header and NAV */

header {
    background-color: var(--main-color);
    padding: 0.1em 1em;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

nav a {
    color: var(--text-color-light);
}

#header-title span {
    animation: blinking;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

#current-page {
    color: red;
}

/* Animation for header */

@keyframes blinking {
    0% {color: var(--text-color-light);}
    49% {color: var(--text-color-light);}
    50% {color: rgba(0,0,0,0);}
    100% {color: rgba(0,0,0,0);}
}

/* Footer */

footer {
    background-color: var(--main-color);
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    padding: 0.2em;
    margin: 0;
    font-size: 0.75rem;
    text-align: end;
}